<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Python Flask Jquery Ajax Autocomplete </title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
  <h1 style="text-align:center">MapReduce Project - AutoComplete - Zhao Chen</h1>
  <!--
  <img src="{{ url_for('static',filename='process.jpeg') }}" width='50%' align="middle"/>
-->
  <form class="form-inline">
    <div class="form-group">
      <h2>Type Word Here</h2>
      <p>only 2-Gram was implemented</p>
      {{form.output(class="form-control")}}
    </div>
 </form>

 <script>
 jQuery.fn.center = function () {
    this.css("position","absolute");
    this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight())/3) +
                                                $(window).scrollTop()) + "px");
    this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth())/2) +
                                                $(window).scrollLeft()) + "px");
    return this;
}
$('form').center();
$(document).ready(function(){
  var output=[];
  function loadOutput(){
    $.getJSON('/output', function(data, status, xhr){
      for (var i = 0; i < data.length; i++ ) {
        output.push(data[i].output);
      }
    });
  };
 loadOutput();

 $('#output').autocomplete({
  source: output,
 });
});
</script>
<style>
.form-control {
    display: block;
    width:300px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn {padding: .375rem .75rem; margin-top:10px;}
</style>
</body>
</html>
